/*
	print.css
	----------------------------------------------------------
	
-------------------------------------------------------------------------------*/

body {
background: none !important;
zoom:80%;
zoom:100%\9;
_zoom:80%;
}
div.container{
background: none !important;
}
#pageTop{
	display:none;
}
