<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    
    RewriteCond     %{SERVER_PORT} ^80$
    #RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_URI} (.+)/$
    #RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
    Redirect /dining/index.html /food-service-jp
    Redirect /english/dining/index.html /food-service
    Redirect /english/index.html /en

    #RewriteRule ^/english/(.*)\.html$ /html/$1
    #RewriteRule ^/english/index.html /html/index.hml
    Redirect /index.html /home
</IfModule>

# Disable index view
Options -Indexes

<Files "log.txt">  
  Require all denied
</Files>

<Files ".env">  
  Require all denied
</Files>

<Files ".env.*">  
  Require all denied
</Files>
